<%= bs_table_tag do %>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Art</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Beth</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Charles</td>
  </tr>
<% end %>