<h1>Form Helpers</h1>

<p>
  <%= link_to('API Documentation', 'http://rubydoc.info/gems/bootstrap-view-helpers/frames/file/README.md') %>
</p>

<h2>Example</h2>
<%= render partial: 'form_helper_1'%>

<h2>Source</h2>
<%= bvh_show_source('bootstrap_view_helpers/_form_helper_1') %>