<h1>Icons</h1>

<p>
  <%= link_to('Bootstrap Documentation', 'http://twitter.github.io/bootstrap/base-css.html#icons') %>
  <br />
  <%= link_to('API Documentation', 'http://rubydoc.info/gems/bootstrap-view-helpers/Bootstrap/IconHelper') %>
</p>

<h2>Examples</h2>
<%= render partial: 'icons' %>


<h2>Source</h2>
<%= bvh_show_source('bootstrap_view_helpers/_icons') %>