<h1>Examples</h1>

<h2>Nav Bar</h2>
<p>This is the source for the navbar on this page.</p>
<%= bvh_show_source('application/_bootstrap_view_helper_nav_bar') %>

<h2>Sidebar</h2>
<p>This is the source for the sidebar on this page.</p>
<%= bvh_show_source('application/_bootstrap_view_helper_side_bar') %>

