<h1>Examples</h1>

<p>This is the html for the layout.</p>

<h2>Nav Bar</h2>
<p>This is the source for the navbar on this page.</p>
<%= bvh_navbar_example %>

<h2>Sidebar</h2>
<p>This is the source for the sidebar on this page.</p>
<%= bvh_sidebar_example %>

